{% extends 'base.html' %}
{% block title %}
    <title>
        To dolist Manager- taskmate
    </title>
{% endblock title %}

{% block content %}
  <div class="container">

  {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
  {% endfor %}
  </br>
    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Add Task</label>
        <input type="text" name="task" class="form-control" id="exampleInputEmail1" placeholder="Add task" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
  </br>
  <table class="table table-bordered">
  </br>
    <thead>
      <tr class="table-primary">
        <th scope="col">No</th>
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %}
        {% if task.done %}
          <tr class="table-success">
            <td>{{task.id}}</td>
            <td>{{task.task}}</td>
            <td>{{task.done}}</td>
            <td><a class="nav-link nav-item" href="{% url 'edit_task' task.id %}">EDIT</a></td>
            <td><a class="nav-link nav-item" href="{% url 'delete_task' task.id %}">Delete</a></td>
          </tr>
        {% else %}
          <tr class="table-secondary">
            <td>{{task.id}}</td>
            <td>{{task.task}}</td>
            <td>{{task.done}}</td>
            <td><a class="nav-link nav-item" href="{% url 'edit_task' task.id %}">EDIT</a></td>
            <td><a class="nav-link nav-item" href="{% url 'delete_task' task.id %}">Delete</a></td>
          </tr>
        {% endif %}
      {% endfor  %}
    </tbody>
  </table>
  </div>
{% endblock content %}