{% extends 'base.html' %}
{% block title %}
    <title>
        To dolist Manager- taskmate
    </title>
{% endblock title %}

{% block content %}
  <div class="container">
  {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endfor %}
  </br>
    <form method="POST">
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Add Task</label>
        <input type="text" name="task" class="form-control" id="exampleInputEmail1" placeholder="Add task" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
  </br>
  <table class="table table-bordered">
  </br>
    <thead>
      <tr class="table-primary">
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %}
        {% if task.done %}
          <tr class="table-success">
            <td>{{task.task}}</td>
            <td>{{task.done}}</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        {% else %}
          <tr class="table-secondary">
            <td>{{task.task}}</td>
            <td>{{task.done}}</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        {% endif %}
      {% endfor  %}
    </tbody>
  </table>
  </div>
{% endblock content %}